:root {
  --bg-dark: #030303;
  --dark-red: #710707;
  --font-gold: #9d8665;
  --font-white: #fff;
  /*--font1: 80px;*/
  /*--font2: 32px;*/
  --bg-blue: #24809E;
  --bg-grey: #C4C4C4;
}

/*----------Tegs------------------*/

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

html {
	scroll-behavior: smooth;
}

ul {
	display: flex;
	justify-content: center;
	align-items: center;
	/*max-width: 720px;*/
}

li{
  list-style: none;
}

a {
	color: #000;
	text-decoration: none;
}

a:hover {
	color: var(--font-gold);
}

h1 {
	align-self: flex-start;
}


button {
	cursor: pointer;
}


/*----------Container------------------*/

.wrapper {
	display: flex;
	/*justify-content: center;*/
	flex-direction: column;
	max-width: 1920px;
	align-items: center;
	margin: 0 auto;
}

.section {
	display: flex;
	flex-direction: column;
	/*width: 100%;*/
	flex-grow: 1;
	align-items: center;
	justify-content: center;
	padding: 75px 40px;	
}

.container  {
	max-width: 1440px;
	width: 100%;
	/*justify-content: center;*/
}

.section-container {
	display: flex;
}

.section_dark {
	background-color: var(--bg-dark);
}

.section_light {}


/*----------Titles------------------*/

.section-title {
	font-size: 80px;
	font-family: Forum;
	font-style: normal;
	font-weight: normal;
	line-height: 90px;
	text-transform: uppercase;
	letter-spacing: 5px;
	margin-bottom: 103px;
}

.section-title_dark {
	color: var(--font-white);
}

.section-text_dark {
	color: var(--font-white);
}

.section-title_light {
	color: var(--font-gold);
}


.underline-title, .underline-cart {
  position: relative;
}

.underline-title::after {
  content: "";
  position: absolute;
  bottom: -28px;
  left: 0;
  right: 0;
  height: 3px;
  background-color: var(--dark-red);
}

.underline-cart::after {
  content: "";
  position: absolute;
  bottom: 9px;
  left: 0;
  right: 140px;
  height: 2px;
  background-color: var(--dark-red);
}

.cart-link:hover .underline-cart::after {
	/*transform: scaleX(1.2);*/

  right: 0;
  transition: all 1s linear 0s;
}

/*-----------Header---------------*/

.header {	
	width: 100%;
	display: flex;
	justify-content: center;
		background-color: var(--bg-dark);



}
.header-container {
	display: flex;
	/*flex-direction: column;*/
	justify-content: space-between;

	/*height: 200px;*/
	/*max-width: 1440px;*/
	/*flex-grow: 1;*/
	/*width: 100%;*/
}
.nav-link{
	font-family: Roboto;
	font-style: normal;
	font-weight: 200;
	font-size: 22px;
	line-height: 50px;
	letter-spacing: 2px;

}

.nav-link:hover {
	color: var(--font-gold);

}

.nav-link:active {
	color: var(--font-gold);
	
}

.header-nav-link {
	margin-right: 76px;
	/*max-width: 720px;*/
}
.header-nav-link:last-child {
		margin-right: 0;
}
/*-----------Main---------------*/

.main {
	display: flex;
	flex-direction: column;
	/*align-items: center;*/
	width: 100%;

}
.main-container {
	display: flex;
	flex-direction: column;
	/*justify-content: flex-start;*/
	/*max-width: 1920px;*/
	width: 100%;
	/*align-items: stretch;*/
}



/*----------welcome------------------*/

.welcome {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	background-image: url("../images/background.jpg");
	background-position: right bottom;
    background-repeat: no-repeat;
    padding-top: 114px;
    height: 750px;
}

.welcome-container .welcome-title {
	max-width: 598px;
	/*padding-bottom: 26px;*/
	margin-bottom: 26px;

}

.welcome-container {
	display: flex;
	flex-direction: column;
	


}


.button-discover {
	width: 360px;
	height: 75px;
	background-color: var(--dark-red);
	text-align: center;
	line-height: 75px;
	font-family: Roboto;
	font-size: 22px;
	font-style: normal;
	font-weight: 200;
	border-radius: 10px;
	letter-spacing: 2px;
	/*opacity: 0.5;*/

}

.button-discover:hover {
	background-color: var(--font-gold);
	color: var(--bg-dark);

}

.button-discover:active {

}


.welcome-p {
	font-family: Roboto;
font-style: normal;
font-weight: 300;
font-size: 28px;
line-height: 33px;
padding-bottom: 76px;
letter-spacing: 2px;
}

/*----------visiting------------------*/

.visiting {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding-bottom: 0;

}


.visiting-container {
	display: flex;
	flex-direction: column;
}


.carts-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	/*padding-top: 75px;*/

	/*margin-right: 60px;*/
}
.cart-link {
	display: flex;
	flex-direction: column;
	padding-bottom: 75px;

}
.cart-img {
	max-width: 440px;
	height: 100%;


}
.cart-title {
	font-family: Forum;
	font-style: normal;
	font-weight: normal;
	font-size: 32px;
	line-height: 35px;
	letter-spacing: 5px;
	text-transform: uppercase;
	padding-top: 25px;
	padding-bottom: 21px;
}

.cart-text {
	font-family: Roboto;
	font-style: normal;
	font-weight: 200;
	font-size: 22px;
	line-height: 26px;
	padding-bottom: 10px;
}

.cart-text__small {
	font-size: 18px;
	line-height: 21px;
	padding-bottom: 0;
}


/*----------explore------------------*/
.explore {
	display: flex;
	flex-direction: row;

}
.explore-text {
	display: flex;
	flex-direction: column;
	margin-right: 60px;
}
.explore-text-p {
	font-family: Roboto;
	font-style: normal;
	font-weight: 300;
	font-size: 22px;
	line-height: 38px;
	padding-bottom: 25px;
	padding-right: 15px;
}

.explore-text-p_yellow {
	color: var(--font-gold);
}
.explore-picture {
	display: flex;
	padding-top: 15px;
}
.explore-picture-img {}


.explore-container {
	display: flex;
	flex-direction: row;
}

/*----------video------------------*/
.video {}
.video-img {
	
}
.video-p {
	font-family: Roboto;
	font-style: normal;
	font-weight: 300;
	font-size: 22px;
	line-height: 38px;
	flex-basis: 50%;
	align-items: center;
}


.video-container {
	display: flex;
	flex-direction: column;
	position: relative;
	margin-top: 15px;
	/*justify-content: space-between;*/
}

.video-box {
	/*width: 85px;*/
	height: 85px;
	display: flex;
	align-items: center;
	/*justify-content: space-around;*/
	margin-bottom: 40px;
	/*text-align: center;*/
	/*align-items: center;*/
}

.video-info {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.video-title {
	margin-bottom: 0;
}

.progress {
  background: linear-gradient(to right, var(--bg-blue) 0%, var(--bg-blue) 48%, var(--bg-grey) 48%, var(--bg-grey) 100%);
  /*border: solid 2px #82CFD0;*/
  /*border-radius: 8px;*/
  height: 8px;
  width: 820px;
  outline: none;
  transition: background 450ms ease-in;
  -webkit-appearance: none;
   margin-right: 42px;
}

.progress::-webkit-slider-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  -webkit-appearance: none;
  cursor: pointer;
  background: var(--font-white);

}


.volume-progress {
  background: linear-gradient(to right, var(--bg-blue) 0%, var(--bg-blue) 43%, var(--bg-grey) 43%, var(--bg-grey) 100%);
  /*border: solid 2px red;*/
  /*border-radius: 8px;*/
  height: 8px;
  width: 155px;
  outline: none;
  transition: background 450ms ease-in;
  -webkit-appearance: none;
   margin-right: 48px;
}

.volume-progress::-webkit-slider-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  -webkit-appearance: none;
  cursor: pointer;
  background: var(--font-white);
}


.play {
	background-image: url(../images/play.svg);
	width: 220px;
	height: 220px;
	background-color: transparent;
	border: none;
	position: absolute;
	left: 610px;
	top: 205px;
}

.prev {
	background-image: url(../images/prev.svg);
	width: 27px;
	height: 30px;
	background-color: var(--bg-dark);
	border: none;
	margin-left: 41px;
	margin-right: 42px;
}
.play-small {
	background-image: url(../images/play_small.svg);
	width: 23px;
	height: 30px;
	background-color: var(--bg-dark);
	border: none;
	margin-right: 42px;
}
.next {
	background-image: url(../images/next.svg);
	width: 27px;
	height: 30px;
	background-color: var(--bg-dark);
	border: none;
	margin-right: 40px;
}

.volume {
	background-image: url(../images/volume.svg);
	width: 37px;
	height: 30px;
	background-color: var(--bg-dark);
	border: none;
	margin-right: 20px;
}

.display {
	background-image: url(../images/display.svg);
	width: 36px;
	height: 36px;
	background-color: var(--bg-dark);
	border: none;
}


/*----------tickets------------------*/
.tickets-container {
	flex-direction: column;
	/*align-items: stretch;*/
	/*flex-grow: 1;*/
}



.tickets-info {
	display: flex;
	flex-direction: row;
}
.tickets-decor {}
.tickets-title {}
.section-title_dark {}
.tickets-img {}
.tickets-buy {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-basis: 50%;


}
.tickets-type {
	display: flex;
	flex-direction: column;
	margin-left: 60px;
	margin-right: 140px;
}
.buy-title {
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 28px;
	line-height: 34px;
	/*margin-bottom: 50px;*/

}
.tickets-number {
		display: flex;
	flex-direction: column;
		max-width: 150px;
		align-items: flex-end;
}

.tickets-number-label {
	font-family: Roboto;
	font-style: normal;
	font-weight: 300;
	font-size: 22px;
	line-height: 26px;
	color: white;
	margin-bottom: 25px;
	margin-top: 11px;

}
.tickets-number-container{
		display: flex;
	flex-direction: column;

}

.number-box {
	margin-top: 16px;
	/*margin-bottom: 35px;*/
	border: 1px solid white;
	width: 150px;
	display: flex;
	justify-content: space-between;
}

.number {
  all: unset;
  /*width: 3em;/*/
  text-align: center;
  color: white;
  font-family: Roboto;
font-style: normal;
font-weight: 300;
font-size: 22px;
line-height: 26px;
}


.numder-button {
	color: white;
	background-color: var(--bg-dark);
	border: none;
	font-size: 32px;
	line-height: 37px;
	margin: 4px 10px;

}

.buy-now {
	width: 175px;
	height: 50px;
	font-family: Roboto;
	font-style: normal;
	font-weight: 300;
	font-size: 22px;
	line-height: 26px;
	/*display: flex;*/
	align-items: center;
	text-align: center;
	letter-spacing: 2px;
	/*text-align: center;*/
}


.buy-now:hover {
	background-color: var(--font-gold);

}

.total{
	margin-bottom: 50px;
	margin-top: 25px;
	letter-spacing: 1.5px;
}



/*-----------------radio------------------------*/


.box {
	display: block;
	position: relative;
	padding-left: 35px;
	cursor: pointer;
	font-family: Roboto;
	font-style: normal;
	font-weight: 300;
	font-size: 22px;
	line-height: 26px;
	color: white;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	margin-top: 50px;
}

/* Hide the browser's default radio button */
.box input {
  position: absolute;
  opacity: 0;
  cursor: pointer;

}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 4px;
  left: 0;
  height: 17px;
  width: 17px;
  background-color: var(--bg-dark);
  border-radius: 50%;
  border: 1px solid white;
}

/* On mouse-over, add a grey background color */
.box:hover input ~ .checkmark {
  background-color: var(--font-gold);
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.box input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.box .checkmark:after {
 	top: 4px;
	left: 4px;
	width: 7px;
	height: 7px;
	border-radius: 50%;
	background: white;
}





/*----------contacts------------------*/
.contacts {}
.contacts-list {
	display: flex;
	flex-direction: column;
	align-items: flex-start;

}

.contacts-list-item {
	font-family: Roboto;
	font-style: normal;
	font-weight: 300;
	font-size: 22px;
	line-height: 26px;
	padding-bottom: 20px;
}

.contacts-container {
	display: flex;
	flex-direction: column;
}

.contacts-info {
	display: flex;
	flex-direction: row;
	justify-content: space-between;

}

.contacts-text {
	display: flex;
	flex-direction: column;
}

 .contacts-title {
 	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 28px;
	line-height: 33px;
	max-width: 250px;
	padding-bottom: 36px;
	padding-top: 10px;
 }

 .contacts-decor {
 	max-height: 620px;
 }

/*----------footer------------------*/
.footer {
	/*height: 200px;*/
	width: 100%;
}
.footer-container {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

.footer-container>div {
	/*flex-grow: 1;*/
}

.footer-logo {
	margin-right: 145px;
}
.footer-logo-link {
	color: var(--font-white);
	font-family: Forum;
	font-style: normal;
	font-weight: normal;
	font-size: 28px;
	line-height: 50px;
	letter-spacing: 5px;
	text-transform: uppercase;
	position: relative;
	margin-left: 70px;

}

.footer-logo-link::before{
	content: '';
    position: absolute;
    width: 49px;
    height: 26px;
    left: -70px;
    top: 7px;
    background: url(../images/louvre.svg) center center no-repeat;
    background-size: cover;
}
.footer-nav {
	display: flex;
	flex-direction: column;
	flex-basis: 35%;
	margin-right: 398px;
	/*flex-grow: 1;*/
	/*flex-wrap: wrap;*/
	/*max-height: 150px;*/


}
.footer-nav-list {	
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	max-height: 150px;	
	/*justify-content: flex-start;*/
	align-items: flex-start;

}

.footer-nav-link {
	margin-right: 153px;
}

.section-text_dark {}
.footer-social {
	align-self: flex-end;

}
.footer-social-link {}

.social-icon {
    position: relative;
    color: var(--font-white);
    width: 50px;
    height: 50px;
}

.social-icon::before {
    content: '';
    position: absolute;
    width: 48px;
    height: 48px;
    left: 1px;
    top: -12px;
    background: url(../images/ring.svg) center center no-repeat;
    background-size: cover;
}


.social-icon {
	text-align: center;
	/*padding-top: 13px;*/
	margin-right: 22px;
}  


.social-icon:last-child {
		margin-right: 0;
}

.social-icon:hover {
	filter: invert(56%) sepia(22%) saturate(560%) hue-rotate(356deg) brightness(92%) contrast(83%);
}


.social-img {
	width:24px;
	height:24px;
	color: white;
}






